<%- include('../partials/header.ejs')%>
    <div class="container">
        <p>
            About Koosha Piano Shop, <br />
            We go above and beyond expectations to deliver the piano of your dreams!
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>