<%- include('../partials/header.ejs')%>
    <div class="container">
        <p>
            Address - 2515 rosy Billed Dr, <br />
            Phone - 202 599 2992 <br/>
            Email - ksharifa@uncc.edu <br />
        </p>
    </div>
    <%- include('../partials/footer.ejs')%>