<%- include('./partials/header.ejs')%>

    <div class="center">
        <img class="center_image" src="images/98SL.gif" alt="">
        <div class="centered">
            <h1 class="image_text"> We are dedicated to finding the<br /> right piano

                Just For You !</h1>
        </div>
    </div>

    <%- include('./partials/footer.ejs')%>